apiVersion: apps/v1
kind: Deployment
metadata:
  name: debug
  labels:
    app.kubernetes.io/name: debug
    app.kubernetes.io/component: toolbox
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: debug
  template:
    metadata:
      labels:
        app.kubernetes.io/name: debug
        app.kubernetes.io/component: toolbox
    spec:
      containers:
        - name: debug
          image: nicolaka/netshoot:latest
          command: ["sleep", "infinity"]
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
